@page "/confessions"
@using HiddenVoicesBlazor.API.Interface
@using HiddenVoicesBlazor.Data
@inject IConfessionAPIService _confessionAPIService
<h3>Confessions</h3>
<NavLink href="/confess"> <button type="button" class="btn btn-primary">Confess</button></NavLink>

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="p-3">
            @if (Confessions != null)
            {
                @foreach (var confession in Confessions)
                {
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-center">@confession.title</h5>
                            <p class="text-justify">@confession.message</p>

                            <div class="card-text mt-3 d-flex gap-3">
                                <div>
                                    @confession.upvotes <i class="bi bi-hand-thumbs-up-fill"></i>
                                </div>
                                <div>  @confession.downvotes <i class="bi bi-hand-thumbs-down-fill"></i></div>
                                <div>@confession.createdAt.ToString("MMMM dd, yyyy") <i class="bi bi-calendar-date-fill"></i></div>
                                <div>7 <i class="bi bi-chat"></i></div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No confessions found.</p>
            }
        </div>
       
    </div>
</div>

@code {
    private List<ConfessionResponse> Confessions { get; set; } = new List<ConfessionResponse>();

    [Parameter]
    [SupplyParameterFromQuery(Name = "offset")]
    public int Offset { get; set; } = 0;

    [Parameter]
    [SupplyParameterFromQuery(Name = "count")]
    public int Count { get; set; } = 10;

    protected override async Task OnInitializedAsync()
    {
        var res = await _confessionAPIService.GetConfessionResponses(Offset, Count);
        Confessions = res;
    }
}
